*{
    margin: 0;
    padding: 0;
}

.body{
    height: 100vh;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 20rem;
    height: 20rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.1);
}

.quest{
    margin-bottom: 30px;
    font-weight: bold;
}

.quetion{
    list-style: none;
}

.submit{
    margin-top: 10px;
    width: 80%;
    height: 30px;
    background-color: aqua;
    color: white;
    border: none;
}